<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474188835721-21idcksu5hrngl7aqa74itmgu3t86k63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474188835721-21idcksu5hrngl7aqa74itmgu3t86k63</string>
	<key>API_KEY</key>
	<string>AIzaSyCASYvBEGTXKcikf6Iz_y3_uUsmGrHveHg</string>
	<key>GCM_SENDER_ID</key>
	<string>474188835721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hannaastlind.bookChange</string>
	<key>PROJECT_ID</key>
	<string>bookchange-4ab15</string>
	<key>STORAGE_BUCKET</key>
	<string>bookchange-4ab15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474188835721:ios:716b4cc1a563746d</string>
	<key>DATABASE_URL</key>
	<string>https://bookchange-4ab15.firebaseio.com</string>
</dict>
</plist>